my-app {
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
  min-height: 80px;
  box-sizing: border-box;
  padding: 30px;
}

@keyframes k-loading-animation  {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.example-wrapper { 
  min-height: 280px; 
  align-content: flex-start; 
}
.example-wrapper p, .example-col p {
  margin: 20px 0 10px; 
}
.example-wrapper p:first-child, .example-col p:first-child { 
  margin-top: 0; 
}
.example-col { 
  display: inline-block; 
  vertical-align: top; 
  padding-right: 20px; 
  padding-bottom: 20px;
}
.pager-config {
  margin: 0 0 20px; 
  padding: 20px; 
  background-color: rgba(0,0,0,.03);
  border: 1px solid rgba(0,0,0,.08); 
}
.event-log { 
  margin: 0; 
  padding: 0; 
  max-height: 100px; 
  overflow-y: auto; 
  list-style-type: none; 
  border: 1px solid rgba(0,0,0,.08); 
  background-color: white; 
}
.event-log li {
  margin: 0; 
  padding: .3em; 
  line-height: 1.2em; 
  border-bottom: 1px solid rgba(0,0,0,.08); 
}
.event-log li:last-child { 
  margin-bottom: -1px;
}