.app-container.light {
  .k-scheduler-head {
    background-color: #FFFFFF !important;
    color: #222222 !important;
  }
}

.app-container.dark {
  .k-scheduler-head {
    background-color: #4A4A4A !important;
    color: #FFFFFF !important;
  }
}

